@page "/changepassword"
@attribute [Authorize(Roles ="User")]

<h3>Change Password</h3>

@Message

<div class="row">
    <div class="col-md-3">
        <EditForm Model="@changePasswordModel" OnValidSubmit="HandleChangePassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label class="control-label">Email</label>
                <InputText class="form-control" @bind-Value="@changePasswordModel.Email"></InputText>
                <ValidationMessage For="@(() => changePasswordModel.Email)" />
            </div>

            <div class="form-group">
                <label class="control-label">Current Password</label>
                <InputText type="password" class="form-control" @bind-Value="@changePasswordModel.CurrentPassword"></InputText>
                <ValidationMessage For="@(() => changePasswordModel.CurrentPassword)" />
            </div>

            <div class="form-group">
                <label class="control-label">New Password</label>
                <InputText type="password" class="form-control" @bind-Value="@changePasswordModel.NewPassword"></InputText>
                <ValidationMessage For="@(() => changePasswordModel.NewPassword)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>